In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
x = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'target']

In [3]:
df = pd.read_csv('car.csv', names = x)

In [4]:
df.head()

  buying  maint doors persons lug_boot safety target
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [5]:
for i in x:
  print(df[i].unique())

['vhigh' 'high' 'med' 'low']
['vhigh' 'high' 'med' 'low']
['2' '3' '4' '5more']
['2' '4' 'more']
['small' 'med' 'big']
['low' 'med' 'high']
['unacc' 'acc' 'vgood' 'good']

In [6]:
df['doors'].replace('5more', '5', inplace=True)
df['persons'].replace('more', '6', inplace=True)

In [7]:
for i in x:
  print(df[i].unique())

['vhigh' 'high' 'med' 'low']
['vhigh' 'high' 'med' 'low']
['2' '3' '4' '5']
['2' '4' '6']
['small' 'med' 'big']
['low' 'med' 'high']
['unacc' 'acc' 'vgood' 'good']

In [8]:
df.doors = pd.to_numeric(df.doors)
df.persons = pd.to_numeric(df.persons)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   int64
 3   persons   1728 non-null   int64
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   target    1728 non-null   object
dtypes: int64(2), object(5)
memory usage: 94.6+ KB

In [10]:
df.buying = df.buying.astype('category')
df.maint = df.maint.astype('category')
df.lug_boot = df.lug_boot.astype('category')
df.safety = df.safety.astype('category')
df.target = df.target.astype('category')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   category
 1   maint     1728 non-null   category
 2   doors     1728 non-null   int64
 3   persons   1728 non-null   int64
 4   lug_boot  1728 non-null   category
 5   safety    1728 non-null   category
 6   target    1728 non-null   category
dtypes: category(5), int64(2)
memory usage: 36.3 KB

In [12]:
for i in x:
  if i!='doors' and i != 'persons':
   df[i] = df[i].cat.codes

In [13]:
df.head()

   buying  maint  doors  persons  lug_boot  safety  target
0       3      3      2        2         2       1       2
1       3      3      2        2         2       2       2
2       3      3      2        2         2       0       2
3       3      3      2        2         1       1       2
4       3      3      2        2         1       2       2

In [14]:
X = df.iloc[:,0:6]
y = df.iloc[:,6]

In [15]:
df.head()

   buying  maint  doors  persons  lug_boot  safety  target
0       3      3      2        2         2       1       2
1       3      3      2        2         2       2       2
2       3      3      2        2         2       0       2
3       3      3      2        2         1       1       2
4       3      3      2        2         1       2       2

In [16]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [17]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [18]:
from sklearn.linear_model import LogisticRegression
model1 = LogisticRegression(max_iter=1000)
model1.fit(x_train, y_train)
model1.score(x_test, y_test)

0.684971098265896

In [19]:
from sklearn.svm import SVC
model2 = SVC()
model2.fit(x_train, y_train)
model2.score(x_test, y_test)

0.9132947976878613

In [20]:
from sklearn.tree import DecisionTreeClassifier
model3 = DecisionTreeClassifier()
model3.fit(x_train, y_train)
model3.score(x_test, y_test)

0.9739884393063584

In [21]:
from sklearn.ensemble import RandomForestClassifier
model4 = RandomForestClassifier()
model4.fit(x_train, y_train)
model4.score(x_test, y_test)

0.9826589595375722

In [22]:
from sklearn.naive_bayes import GaussianNB, MultinomialNB, BernoulliNB
model5 = GaussianNB()
model5.fit(x_train, y_train)
model5.score(x_test, y_test)

0.6271676300578035

In [23]:
model6 = BernoulliNB()
model6.fit(x_train, y_train)
model6.score(x_test, y_test)

0.7138728323699421

In [24]:
import xgboost as xgb
from xgboost.sklearn import XGBClassifier
model7 = XGBClassifier()
model7.fit(x_train, y_train)
model7.score(x_test, y_test)

0.9450867052023122

In [25]:
from sklearn.ensemble import GradientBoostingClassifier
model8 = GradientBoostingClassifier()
model8.fit(x_train, y_train)
model8.score(x_test, y_test)

0.9710982658959537